html, body {

}

body {
	background-color: #E5FCF5 !important;
	font-family: "Rockwell",sans-serif !important;
}

.auth-box {
	text-align: center;
	background-color: #77B6EA;
	border: 1px solid #070156;
	box-shadow:  2px 2px 5px black;
	position: relative;
    height: 210px;
    width: 500px;
    top: calc(50vh - 160px);
    margin-left: calc(50vw - 250px);
}

select {
	margin: 2vh;
	width: 90px;
	background-color: #E5FCF5;
	font-family: "Rockwell",sans-serif;
	border: 1px solid #070156;
	outline: none;
}

button {
	width: 90px;
	background-color: #E5FCF5;
	font-family: "Rockwell",sans-serif;
	border: 1px solid #070156;
	outline: none;
}

button:hover {
	background: rgba(0, 0, 0, 0.2);
}

button:active {
    background: rgba(0, 0, 0, 0.4);
}

#top-panel {
	border-bottom: 1px solid #070156;
	position: fixed;
	z-index: 3;
	top:0;
	right: 0;
	left: 0;
	background-color: #77B6EA;
	height: 30px;
	box-shadow:  0px 1px 2px black;
}

.send-button {
	width: 70px;
		float: right;
		margin: 2px 5px 0 0;
}

#bottom-panel {
	position: fixed;
	background-color: #77B6EA;
	border-top: 1px solid #070156;
	height: 60px;
	left: 0;
	right: 0;
	bottom: 0;
	<-box-shadow:  0px -1px 1px black;->
}

#user-input {
	height:
}

#logout {
	float: right;
  margin: 4px 40px 0 0;
}

#clear-button {
	float: right;
	margin: 2px 9px 0 0;
}

#change-color-button {
	float: right;
	margin: 2px 9px 0 0;
}

.login-button {
    margin-bottom: 35px;
}
.comment {
	border: 1px solid black;
	border-radius: 3px;
	width: 70%;
	margin: 3px auto 0 auto;
	padding: 5px;
}

.name {
	float: left;
	margin-bottom: 5px;
	font-weight: bold;
}

.date {
	float: right;
	margin-bottom: 5px;
}

.text {
	clear: both;
	margin-bottom: 0;
	word-wrap: break-word;
}

.reg-input {
	width: 260px;
}

.login-input {
	width: 260px;
}

.image-preview > img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	cursor: pointer;
}

.image-preview {
	padding: 15px;
	text-align: center;
}

#images {
	margin-top: 50px;
}

.image-container {
	width: 400px;
	margin: auto;
}

.image-container > img {
	width: 100%;
}

.col-xs-4 {
	float: none !important;
}

.error {
	border-color: red;
	transition: border-color .5s;
}

#myModal > .modal-dialog > .modal-content {
	position: relative;
	border-radius: 0;
}

#myModal > .modal-dialog > .modal-content > .modal-body {
  position: relative;
	padding: 0;
}

#image-container {
	float: left;
  width: calc(100% - 250px);
}

#image-container > img {
	width: 100%;
	height: auto;
}

#comment-box {
	position: absolute;
  right: 0;
  width: 250px;
	height: 100%;
	overflow: hidden;
}

#comments {
	height: calc(100% - 97px);
	overflow-x: hidden;
  overflow-y: scroll;
	margin-bottom: -1px;
}

#comments > div > div {
	clear: both;
}

#comments > div {
	border-bottom: 1px solid rgb(220, 220, 220);
  padding: 5px 5px 10px 15px;
	background-color: white;
}

#comment-header {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 5px;
	height: 55px;
	box-shadow: 0 -51px 58px 26px #333;
	position: relative;
}

#pic-popup-dialog {
	min-width: 700px;
}

#input-comment {
	width: 195px;
	height: 30px;
	border: none;
}

#input-comment:focus {
	outline: none;
}

#add-comment-button {
	width: 55px;
	height: 28px;
	margin: -4px;
	background: rgba(0, 0, 0, 0.1) ;
}

#picture-author {
	font-size: 20px;
	margin-left: 15px;
}

#picture-date {
	float: right;
	color: #a9a9a9;
	font-weight: 600;
	margin: 6px;
}

#picture-likes {
	clear: both;
  float: left;
  margin: -4px 0 0 15px;
}

#comment-text {
	clear: both;
  float: left;
	word-wrap: break-word;
	width: 100%;
}

#comment-date {
  float: right;
  color: #a9a9a9;
}

#comment-author {
	font-size: 17px;
  margin-right: 17px;
	float: left;
	clear: both;
	margin-bottom: 6px;
}

.fa-heart::before {
	content: "\f004";
	color: rgb(182, 182, 182);
	font-size: 22px;
	margin: 0 5px 5px 10px;
}

.fa-heart {
	float: left;
	margin-top: 5px;
	cursor: pointer;
}

.fa-heart.liked::before {
	color: rgb(251, 92, 92);
}

#comment-footer {
	padding-top: 5px;
	border-top: 1px solid rgb(220, 220, 220);
	box-shadow: -5px 33px 43px 15px #333;
  height: 43px;
}

::-webkit-scrollbar-track {
	background-color:#ffffff;
}

::-webkit-scrollbar-thumb {
	background-color:#9a9a9a;
}

::-webkit-scrollbar{
	width: 5px;
}
